body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

li {
  list-style-type: none;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 40px;
}

input {
  padding: 6px 10px;
}

#openModelBtn {
  width: fit-content;
}

.modalTodoWrapper,
.modalEditTodoWrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#modalTodo,
#modalEditTodo {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 360px;
  min-width: 280px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgb(252, 234, 176);
}

#modalTodo header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modalTodo label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#modalEditTodo header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modalEditTodo label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#btnClose {
  font-size: 28px;
}

#btnClose:hover {
  color: red;
  cursor: pointer;
}

.toDoContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.toDoBox {
  max-width: 320px;
  min-width: 300px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 143px;
  padding: 10px;
  border: 1px solid black;
}

.card {
  margin-bottom: 0.8rem;
  padding: 0.4rem;
  border: 1px solid red;
}

.card:last-of-type {
  margin-bottom: 0;
}

.headerDeleted {
  display: flex;
  gap: 10px;
}
