@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

li {
  list-style-type: none;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 40px;
  font-family: 'Fenix', serif;
  color: white;
  background: linear-gradient(135deg, #153677, #4e085f);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 1280px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
}

input {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  outline: none;
}

button {
  cursor: pointer;
}

.modalTodoWrapper,
.modalEditTodoWrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#modalTodo,
#modalEditTodo {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 360px;
  min-width: 280px;
  padding: 20px;
  border-radius: 6px;
  background-color: rgb(255, 145, 0);
  overscroll-behavior-y: contain;

  & header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 400;
  }
}

#btnClose {
  font-size: 34px;
  border: none;
  color: white;
  background-color: transparent;

  &:hover {
    color: red;
    cursor: pointer;
  }
}

.toDoContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.toDoBox {
  max-width: 320px;
  min-width: 300px;
}

.list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 156px;
  padding: 10px;
  border: 2px solid white;
}

.card {
  margin-bottom: 0.8rem;
  padding: 0.4rem;
  border: 2px solid rgb(255, 170, 58);
  border-radius: 8px;
}

.card:last-of-type {
  margin-bottom: 0;
}

.headerDeleted {
  display: flex;
  gap: 10px;
}

.btnEdit,
.btnNext,
.btnDelete,
.btnRestore,
.btnClearAll {
  padding: 4px 10px;
  border: none;
  font-weight: 600;
  color: white;
  background-color: transparent;
}

.btnEdit {
  border: 1px solid yellow;

  &:hover {
    transition: all 0.5s;
    background-color: rgb(194, 194, 0);
  }
}

.btnNext {
  border: 1px solid rgb(0, 255, 242);

  &:hover {
    transition: all 0.5s;
    background-color: rgb(0, 177, 168);
  }
}

.btnDelete,
.btnClearAll {
  border: 1px solid red;

  &:hover {
    transition: all 0.5s;
    background-color: rgb(170, 0, 0);
  }
}

.btnRestore {
  border: 1px solid rgb(0, 255, 13);

  &:hover {
    transition: all 0.5s;
    background-color: rgb(0, 173, 9);
  }
}

#btnOpenModal,
#btnGetCat,
button[type='submit'] {
  max-width: fit-content;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: rgb(255, 145, 0);
  border: 2px solid;
  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.2);
    background-color: rgb(255, 170, 58);
  }
}

.cats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.cat img {
  width: 200px;
  height: 200px;
  border-radius: 30px;
}

.demo-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 290px;
  height: 100%;
}
